<div class="row">
  <div class="col s8">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/images/chang-duong-372839.jpg" alt="">
          <h4 class="card-title">Photo by Chang Duong on Unsplash</h4>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light light-blue darken-1" routerLink="/cursos"><i class="material-icons">chevron_right</i></a>
        </div>
        <div class="card-content">
          <h3 class="card-title">Cursos</h3>
          <p>Gerenciamento de cursos</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/images/tim-gouw-68319.jpg" alt="">
          <h4 class="card-title">Photo by Tim Gouw on Unsplash</h4>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light light-blue darken-1" routerLink="/alunos"><i class="material-icons">chevron_right</i></a>
        </div>
        <div class="card-content">
          <h3 class="card-title">Alunos</h3>
          <p>Gerenciamento de alunos</p>
        </div>
      </div>
    </div>    
  </div>
  <div class="col s4">
    <h4>Cadastro de alunos por mês</h4>
    <grafico-cadastro-alunos></grafico-cadastro-alunos>    
  </div>
</div>
<div class="row">
    <div class="col m12">
      <h4>Contatos</h4>
      <contact-home></contact-home>
    </div>
</div>