<div class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalEvent">
  <div class="modal-content">
    <h4>Contato</h4>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="nome" class="validate">
        <label for="nome">Nome</label>
      </div>      
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="mensagem" class="materialize-textarea"></textarea>
        <label for="mensagem">Mensagem</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="enviar()" class="waves-effect waves-light btn">Enviar</button>
    <button type="button" (click)="closeContactModal()" class="waves-effect waves-light btn">Cancelar</button>
  </div>
</div>